Repository vmware/dscr-for-vmware, pull requests merged in 2019-10, with the labels that each got.

#193 VMHostVssPortGroupTeaming DSC Resource
  Documentation/DSCResources/VMHostVssPortGroupTeaming/VMHostVssPortGroupTeaming.md
  Source/VMware.vSphereDSC/Classes/VMHostVssPortGroupBaseDSC.ps1
  Source/VMware.vSphereDSC/Configurations/PowerShell/ESXiConfigs/VMHostNetwork/VMHostVssPortGroup/VMHostVssPortGroupTeaming_Config.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostNetwork/VMHostVssPortGroup/VMHostVssPortGroupSecurity.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostNetwork/VMHostVssPortGroup/VMHostVssPortGroupTeaming.ps1
  Source/VMware.vSphereDSC/Enums/LoadBalancingPolicy.ps1
  Source/VMware.vSphereDSC/Enums/NetworkFailoverDetectionPolicy.ps1
  Source/VMware.vSphereDSC/Tests/Integration/Configurations/VMHostVssPortGroupTeaming/VMHostVssPortGroupTeaming_Config.ps1
  Source/VMware.vSphereDSC/Tests/Integration/VMHostNetwork/VMHostVssPortGroup/VMHostVssPortGroupTeaming.Integration.Tests.ps1
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/Mocks/MockData.ps1
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/Mocks/VMHostVssPortGroupTeamingMocks.ps1
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/VMware.VimAutomation.Core/VMware.VimAutomation.Core.psm1
  Source/VMware.vSphereDSC/Tests/Unit/VMHostNetwork/VMHostVssPortGroup/VMHostVssPortGroupTeaming.Unit.Tests.ps1
Labels: dsc-resource, enhancement, in progress

#194 VMHostVssPortGroupShaping DSC Resource
  Documentation/DSCResources/VMHostVssPortGroupShaping/VMHostVssPortGroupShaping.md
  Source/VMware.vSphereDSC/Classes/VMHostVssPortGroupBaseDSC.ps1
  Source/VMware.vSphereDSC/Configurations/PowerShell/ESXiConfigs/VMHostNetwork/VMHostVssPortGroup/VMHostVssPortGroupShaping_Config.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostNetwork/VMHostVssPortGroup/VMHostVssPortGroupShaping.ps1
  Source/VMware.vSphereDSC/Tests/Integration/Configurations/VMHostVssPortGroupShaping/VMHostVssPortGroupShaping_Config.ps1
  Source/VMware.vSphereDSC/Tests/Integration/VMHostNetwork/VMHostVssPortGroup/VMHostVssPortGroupShaping.Integration.Tests.ps1
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/Mocks/MockData.ps1
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/Mocks/VMHostVssPortGroupShapingMocks.ps1
  Source/VMware.vSphereDSC/Tests/Unit/VMHostNetwork/VMHostVssPortGroup/VMHostVssPortGroupShaping.Unit.Tests.ps1
  Source/VMware.vSphereDSC/VMware.vSphereDSC.Helper.psm1
Labels: dsc-resource, enhancement, in progress

#195 VMHostPhysicalNic DSC Resource
  Documentation/DSCResources/VMHostPhysicalNic/VMHostPhysicalNic.md
  Source/VMware.vSphereDSC/Configurations/PowerShell/ESXiConfigs/VMHostNetwork/VMHostPhysicalNic/VMHostPhysicalNic_Config.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostNetwork/VMHostPhysicalNic/VMHostPhysicalNic.ps1
  Source/VMware.vSphereDSC/Enums/Duplex.ps1
  Source/VMware.vSphereDSC/Tests/Integration/Configurations/VMHostPhysicalNic/VMHostPhysicalNic_Config.ps1
  Source/VMware.vSphereDSC/Tests/Integration/VMHostNetwork/VMHostPhysicalNic/VMHostPhysicalNic.Integration.Tests.ps1
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/Mocks/MockData.ps1
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/Mocks/VMHostPhysicalNicMocks.ps1
  Source/VMware.vSphereDSC/Tests/Unit/VMHostNetwork/VMHostPhysicalNic/VMHostPhysicalNic.Unit.Tests.ps1
Labels: dsc-resource, enhancement, in progress

#191 VMHostVssNic DSC Resource
  Documentation/DSCResources/VMHostVssNic/VMHostVssNic.md
  Source/VMware.vSphereDSC/Classes/BaseDSC.ps1
  Source/VMware.vSphereDSC/Classes/VMHostNicBaseDSC.ps1
  Source/VMware.vSphereDSC/Configurations/PowerShell/ESXiConfigs/VMHostNetwork/VMHostNic/VMHostVssNic_Config.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostNetwork/VMHostVssNic.ps1
  Source/VMware.vSphereDSC/Tests/Integration/Configurations/VMHostVssNic/VMHostVssNic_Config.ps1
  Source/VMware.vSphereDSC/Tests/Integration/VMHostNetwork/VMHostNic/VMHostVssNic.Integration.Tests.ps1
  Source/VMware.vSphereDSC/Tests/Unit/BaseDSC.Unit.Tests.ps1
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/Mocks/MockData.ps1
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/Mocks/VMHostNicBaseDSCMocks.ps1
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/Mocks/VMHostVssNicMocks.ps1
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/VMware.VimAutomation.Core/VMware.VimAutomation.Core.psm1
  Source/VMware.vSphereDSC/Tests/Unit/VMHostNetwork/VMHostNic/VMHostNicBaseDSC.Unit.Tests.ps1
  Source/VMware.vSphereDSC/Tests/Unit/VMHostNetwork/VMHostNic/VMHostVssNic.Unit.Tests.ps1
Labels: dsc-resource, enhancement, in progress

#176 VDSwitch DSC Resource
  Documentation/DSCResources/VDSwitch/VDSwitch.md
  Source/VMware.vSphereDSC/Classes/BaseDSC.ps1
  Source/VMware.vSphereDSC/Configurations/PowerShell/vCenterConfigs/VDSwitch_Config.ps1
  Source/VMware.vSphereDSC/DSCResources/VDSwitch.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostAgentVM.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostCache.ps1
  Source/VMware.vSphereDSC/Enums/LinkDiscovertProtocolOperation.ps1
  Source/VMware.vSphereDSC/Enums/LinkDiscoveryProtocolProtocol.ps1
  Source/VMware.vSphereDSC/Tests/Integration/Configurations/VDSwitch/VDSwitch_Config.ps1
  Source/VMware.vSphereDSC/Tests/Integration/VDSwitch.Integration.Tests.ps1
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/Mocks/MockData.ps1
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/Mocks/VDSwitchMocks.ps1
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/VMware.VimAutomation.Core/PowerCLITypes.cs
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/VMware.VimAutomation.Core/VMware.VimAutomation.Core.psm1
  Source/VMware.vSphereDSC/Tests/Unit/VDSwitch.Unit.Tests.ps1
Labels: dsc-resource, enhancement, in progress

#201 DisconnectVIServer mechanism for all existing DSC Resources
  CODING_GUIDELINES.md
  Source/VMware.vSphereDSC/Classes/BaseDSC.ps1
  Source/VMware.vSphereDSC/DSCResources/Cluster/DrsCluster.ps1
  Source/VMware.vSphereDSC/DSCResources/Cluster/HACluster.ps1
  Source/VMware.vSphereDSC/DSCResources/Datacenter.ps1
  Source/VMware.vSphereDSC/DSCResources/DatacenterFolder.ps1
  Source/VMware.vSphereDSC/DSCResources/Folder.ps1
  Source/VMware.vSphereDSC/DSCResources/VDSwitch.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostAccount.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostAdvancedSettings.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostAgentVM.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostCache.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostDnsSettings.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostGraphics/VMHostGraphics.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostGraphics/VMHostGraphicsDevice.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostNetwork/VMHostPhysicalNic/VMHostPhysicalNic.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostNetwork/VMHostVss/VMHostVss.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostNetwork/VMHostVss/VMHostVssBridge.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostNetwork/VMHostVss/VMHostVssSecurity.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostNetwork/VMHostVss/VMHostVssShaping.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostNetwork/VMHostVss/VMHostVssTeaming.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostNetwork/VMHostVssNic.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostNetwork/VMHostVssPortGroup/VMHostVssPortGroup.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostNetwork/VMHostVssPortGroup/VMHostVssPortGroupSecurity.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostNetwork/VMHostVssPortGroup/VMHostVssPortGroupShaping.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostNetwork/VMHostVssPortGroup/VMHostVssPortGroupTeaming.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostNtpSettings.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostPciPassthrough.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostPowerPolicy.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostSatpClaimRule.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostService.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostSettings.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostSyslog.ps1
  Source/VMware.vSphereDSC/DSCResources/VMHostTpsSettings.ps1
  Source/VMware.vSphereDSC/DSCResources/vCenterSettings.ps1
  Source/VMware.vSphereDSC/DSCResources/vCenterStatistics.ps1
  Source/VMware.vSphereDSC/Tests/Unit/BaseDSC.Unit.Tests.ps1
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/Mocks/BaseDSCMocks.ps1
Labels: enhancement, in progress

#207 Tips & Tricks added to Documentation
  Documentation/Tips-&-Tricks.md
  README.md
Labels: documentation, enhancement

#206 Fix Markdown formatting
  Documentation/DSCResources/Cluster/Cluster.md
  Documentation/DSCResources/Datacenter/Datacenter.md
  Documentation/DSCResources/DatacenterFolder/DatacenterFolder.md
  Documentation/DSCResources/Folder/Folder.md
  Documentation/DSCResources/PowerCLISettings/PowerCLISettings.md
  Documentation/DSCResources/VDSwitch/VDSwitch.md
  Documentation/DSCResources/VMHostAccount/VMHostAccount.md
  Documentation/DSCResources/VMHostAdvancedSettings/VMHostAdvancedSettings.md
  Documentation/DSCResources/VMHostAgentVM/VMHostAgentVM.md
  Documentation/DSCResources/VMHostCache/VMHostCache.md
  Documentation/DSCResources/VMHostGraphics/VMHostGraphics.md
  Documentation/DSCResources/VMHostGraphicsDevice/VMHostGraphicsDevice.md
  Documentation/DSCResources/VMHostPciPassthrough/VMHostPciPassthrough.md
  Documentation/DSCResources/VMHostPhysicalNic/VMHostPhysicalNic.md
  Documentation/DSCResources/VMHostPowerPolicy/VMHostPowerPolicy.md
  Documentation/DSCResources/VMHostService/VMHostService.md
  Documentation/DSCResources/VMHostSettings/VMHostSettings.md
  Documentation/DSCResources/VMHostSyslog/VMHostSyslog.md
  Documentation/DSCResources/VMHostVssNic/VMHostVssNic.md
  Documentation/DSCResources/VMHostVssPortGroup/VMHostVssPortGroup.md
  Documentation/DSCResources/VMHostVssPortGroupSecurity/VMHostVssPortGroupSecurity.md
  Documentation/DSCResources/VMHostVssPortGroupShaping/VMHostVssPortGroupShaping.md
  Documentation/DSCResources/VMHostVssPortGroupTeaming/VMHostVssPortGroupTeaming.md
  Documentation/DSCResources/vCenterSettings/vCenterSettings.md
Labels: documentation, enhancement, good first issue

#209 Correction of DefaultRotateSize to DefaultSize
  Documentation/DSCResources/VMHostSyslog/VMHostSyslog.md
Labels: documentation, enhancement, good first issue

#199 VDSwitchVMHost DSC Resource
  Documentation/DSCResources/VDSwitchVMHost/VDSwitchVMHost.md
  Source/VMware.vSphereDSC/Configurations/PowerShell/ESXiConfigs/VDSwitchVMHost_Config.ps1
  Source/VMware.vSphereDSC/DSCResources/VDSwitchVMHost.ps1
  Source/VMware.vSphereDSC/Tests/Integration/Configurations/VDSwitchVMHost/VDSwitchVMHost_Config.ps1
  Source/VMware.vSphereDSC/Tests/Integration/VDSwitch.Integration.Tests.ps1
  Source/VMware.vSphereDSC/Tests/Integration/VDSwitchVMHost.Integration.Tests.ps1
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/Mocks/MockData.ps1
  Source/VMware.vSphereDSC/Tests/Unit/TestHelpers/Mocks/VDSwitchVMHostMocks.ps1
  Source/VMware.vSphereDSC/Tests/Unit/VDSwitchVMHost.Unit.Tests.ps1
Labels: dsc-resource, enhancement, in progress
